.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  background-color: aliceblue;
}
.logo {
  padding: 5px 5px;
  height: 70px;
}
.nav-items {
  padding: 0 20px;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-items > ul > li {
  padding: 5px;
  margin: 5px;
}
.search {
  margin: 20 20;
  border: 1px solid black;
  height: 25px;
  background-color: antiquewhite;
}
h4 {
  padding: 2px;
  margin: 0px;
}
.card-container {
  background-color: antiquewhite;
  width: 200px;
  height:350px;
}
.card-container:hover {
  border: 2px solid rgb(48, 23, 8);
  cursor: pointer;
}
.mcd-img {
  width: 100%;
  
}
.mcd-img:hover {
  width: 100%;

}
.res-text {
  display:flex-box;
  justify-content: space-between;
  padding: 10;
}
.res-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.body-container{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  
}
.Banner{
  width:100%;
  
}